@value c-black, c-gray, c-white, c-red from './colors.css';

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: Merriweather, serif;
}

label {
  font-family: 'Lato';
  font-size: 1rem;
  margin-bottom: .25em;
}

input {
  font-family: Merriweather, serif;
  font-size: 1rem;
  padding: .75em;
  border: 1px solid c-black;
  margin-bottom: 1em;
  border-radius: 0;
}

input:not([type=checkbox]):not([type=radio]) {
  appearance: none;
}

button {
  font-size: .8rem;
  background-color: c-white;
  color: c-black;
  padding: 1.095em 1em;
  border: 1px solid c-black;
  cursor: pointer;
  transition: all .15s ease-in-out;
  font-family: Lato, sans-serif;
}

button:hover {
  color: c-white;
  background: c-black;
}

button:active {
  color: c-white;
  background: c-black;
  text-shadow: .5px .5px 0px c-white;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: c-gray;
  transition: all .15s ease-in-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:hover {
  color: c-black
}

a:active {
  color: c-red;
}

:global(.main) {
  padding-top: 1em;
}
