<box xs="3" align="start">
  {{link-to "pickanother.one" "application" class=styles.logo}}
</box>
<box xs="9">
  <hbox justify="end">
  {{#if isAuthenticated}}
    <box xs="4">
      placeholder-link
    </box>
    <box xs="4">
      <a {{action logout}} class="{{styles.link}}">logout</a>
    </box>
  {{/if}}
  </hbox>
</box>
