<centered xs="5" sm="3" justify="start">
  {{link-to "PICKANOTHER.ONE" "application" class=styles.logo}}
</centered>
<hbox justify="end">
  {{#if isAuthenticated}}
    <centered xs="3" sm="2">
      {{link-to "new jam" "jams.new" class=styles.link}}
    </centered>
    <centered xs="3" sm="2">
      <a {{action logout}} class="{{styles.link}}">logout</a>
    </centered>
  {{/if}}
</hbox>
