<centered xs="3" align="start">
  {{link-to "pickanother.one" "application" class=styles.logo}}
</centered>
<centered xs="9">
  <hbox justify="end">
  {{#if isAuthenticated}}
    <centered xs="4">
      placeholder-link
    </centered>
    <centered xs="4">
      <a {{action logout}} class="{{styles.link}}">logout</a>
    </centered>
  {{/if}}
  </hbox>
</centered>
