@value c-black, c-white, c-primary from '../../styles/colors.css';

.tunes {
  overflow-y: auto;
  min-height: 50vh;
  max-height: 50vh;
}

.toggle {
  min-height: 10vh;
  max-height: 10vh;
  text-decoration: underline;
}

.tune {
  padding: .25em 0
}

.current-tune {
  color: c-white;
  background: c-black;
}
