@value c-black, c-white, c-primary from '../../styles/colors.css';

.tunes {
  min-height: 50vh;
  max-height: 50vh;
  /* fix momentum scrolling - has to be scroll, not auto */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.toggle {
  min-height: 10vh;
  max-height: 10vh;
  text-decoration: underline;
}

.tune {
  padding: .25em 0;
  cursor: pointer;
  line-height: 3em;
}

.current-tune {
  color: c-white;
  background: c-black;
}
