@value c-red from '../../styles/colors.css';

.error-message {
  text-align: left;
  font-size: .8rem;
  color: c-red;
  padding: 0;
  margin: 0;
}

.error-exclaim {
  font-size: 1rem;
  font-family: 'Lato';
  font-weight: 900;
  color: c-red;
  text-align: center;
  border: .05em solid c-red;
  border-radius: 1em;
  padding: 0em .425em;
}
