@value c-red from '../../styles/colors.css';

.error-message {
  text-align: left;
  font-size: .8rem;
  color: c-red;
  padding: 0;
  margin: 0;
}

.error-exclaim {
  font-size: 2.2rem;
  font-family: 'Lato';
  font-weight: 900;
  color: c-red;
  text-align: center;
}

.loading {
  font-size: 2rem;
  animation: spinR 1s ease infinite;
  transform-origin: center;
}

.loading:nth-child(odd) {
  animation: spinL 1s ease infinite;
}

@keyframes spinR {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinL {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
