.jam-header {
  min-height: 10vh;
  max-height: 10vh;
}

.title-container {
  padding: .5em;
}

.title {
  font-size: 1.2rem;
}

.user {
  font-size: .8rem;
  padding: 0 .5em;
}

.common {
  font-size: .8rem;
}
